<!--<div>
    <div style="margin-left: 150px;margin-top: 20px" class="alert alert-danger text-center w-2/3">     
</div>
   </div>-->
   <div class=" bg-gray-200 flex justify-center align-items ">
       <table style="margin:70px">
           <tr>
               <td>
                   <form  method="post" action="" style="height: 452px;width: 600px" class="bg-white shadow-md  rounded px-8 pt-6">
                       <h1 class="text-center text-teal-600">Creer un compte
                       </h1>
                       <div class="mb-4">
                           <label class="block text-center text-gray-500 text-sm  mb-2" for="username">
                               Pseudo
                           </label>
                           <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" name="_username" type="text" placeholder="Pseudo">
                       </div>
                       <div class="mb-6">
                           <label class=" block text-center text-gray-500 text-sm mb-2" for="password">
                               Mot de passe
                           </label>
                           <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" name="_password" type="password" placeholder="******************">
                       </div>

                       <div class="flex items-center justify-between">
                           <button type="submit" style="width: 300px;margin-left: 120px" class="text-center bg-teal-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                               Connexion
                           </button>
                       </div><br>
                       <a href="">Vous avez deja un compte?</a>

                   </form>
               </td>
               <td><div style="height: 100%"><h2 style="text-decoration: none;z-index: 100;position: absolute;margin-top: 30px;margin-left: 80px;color: black">Visiteur</h2>
                       <img src="https://p5.storage.canalblog.com/54/31/748014/88153845_o.jpg" style="opacity: 0.7;  background-color:indianred;width:270px;height:100%"/></div></td>
               <h5 style="text-decoration: none;z-index: 100;position: absolute;margin-top: 150px;color: black;margin-left: -210px;">Visiter Notre plateforme<br> TRAINEESHIP</h5>
               <a href=""><button type="submit" style="z-index: 100;position: absolute;margin-top: 350px;width: 150px;margin-left: -210px;" class="text-center bg-teal-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                       Visiter
                   </button></a>
           </tr>
       </table>

   </div>

